{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/secretstyle.css' %}">
    <title>Secret Santa</title>

</head>
<body>
    <div class="container">
        <h1>Secret Santa</h1>

        <div>
            <label>Add Participant:</label>
            <form method="post">
                {% csrf_token %}
                {{ form.name }}
                <button type="submit" name="add">Submit</button>
            </form>
        </div>

        <h2>Participants</h2>
        <ul id="participantsList">
            {% if players %}
                {% for player in players %}
                    <li>{{ player }}</li>
                {% endfor %}
            {% else %}
                <li>No participants yet</li>
            {% endif %}
        </ul>

        <form method="post">
            {% csrf_token %}
            <button name="create">Generate pairs</button>
        </form>

        {% if pairs %}
            <div class="pairs-container">
                <h2>Secret Santa Pairs</h2>
                <ul id="pairsList">
                    {% for giver, receiver in pairs.items %}
                        <li>{{ giver }} -> {{ receiver }}</li>
                    {% endfor %}
                </ul>
                <form method="post">
                    {% csrf_token %}
                    <button class="clear-button" name="clear">Clear</button>
                </form>
            </div>
        {% endif %}

        {% if flag %}
            <p style="color: #f44336">Error occurred!</p>
        {% endif %}
    </div>

    <div class="footer">
        <a href="{% url 'home' %}">
            <button class="home-button">Go to the home page</button>
        </a>
    </div>
</body>
</html>
